@import "./mixins";
// Global vars ----------------------------------------------------------------
$primaryColor: #032f59;
$primaryColorDark: #022241;
$primaryColorLight: #254e73;
$accentColor: #73b8a6;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf;
$mainTransition: all 0.3s linear;
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

// $Open-sans-bold: Open-sans-bold, sans-serif;
// $Open-sans-regular: Open-sans-regular, sans-serif;
// $Open-sans-italic: Open-sans-italic, sans-serif;
// $Open-sans-light: Open-sans-light, sans-serif;
$Poppins-semi-bold: Poppins-semi-bold, sans-serif;
$Poppins-regular: Poppins-regular, sans-serif;
$Poppins-medium: Poppins-medium, sans-serif;
$Poppins-thin: Poppins-thin, sans-serif;
$Poppins-light: Poppins-light, sans-serif;

$max-container-width: 1170px;
$min-page-padding: 15px;
