.defaultHero,
.roomsHero {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 4rem 2rem;
  overflow-x: hidden;

  .heroVisual {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
    z-index: -1;
    text-align: center;

    .imageWrapper {}
    .svgImg {}
    .svgClip {
      width: 0%;
      height: 0%;
    }

    .usesImg {
      position: absolute;
      top: 0px;
      right: 0;
      // left: 0px;
      // width: 100%;

      -webkit-clip-path: url(#clipPath);
      clip-path: url(#clipPath);
    }

    // img {
    //   height: 100%;
    //   clip-path: url('#clipPath');
    // }
  }
}

.roomsHero {
  min-height: 60vh;
}

@media screen and (min-width: 768px) {
  .defaultHero,
  .roomsHero {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0;

    > * {
      flex: 1 0 50%;
      width: 50%;
      max-width: 50%;
    }

    .heroVisual {
      // position: relative;
      left: unset;
      width: 60%;
      max-width: unset;
      min-height: 110vh;
      z-index: 0;
    }
  }
}
