@import "sass/base/_config_global.scss";
@import "sass/module/_common.scss";

section {
  margin-top: 150px;
  p {
    font-family: $Poppins-regular;
    color: $primaryColorLight;
    line-height: 1.5rem;

    span {
      display: block;
    }
  }
}
.section-title {
  text-align: center;
  margin-bottom: 4rem;

  h4 {
    @extend .resortLabel;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: $Poppins-semi-bold;
    color: $primaryColor;
    font-size: 2rem;
  }

  //   div {
  //     width: 5rem;
  //     height: 5px;
  //     margin: 0 auto;
  //   }
}

.section-content {
  text-align: center;
}
